body
{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	background-image:url('image.jpg');
	background-size: cover;
	background-blend-mode: overlay;
}
#container
{
	background-color:#efac88;
	height: 250px;
	width: 30%;
	margin-left: 35%;
	margin-top: 15%;
	border-radius: 20px;
	background-blend-mode: color-dodge;
	box-shadow: -3px -3px 3px 3px #8fd0e0,
				3px 3px 3px 3px #8fd0e0,
				3px 3px 3px 3px #8fd0e0;
	opacity: 0.8;	
}
#input-location
{
	height: 20px;
	width: 70%;
	font-size: 18px;
	margin-left:10%;
	margin-top: 10%;
	outline: none;
   border-radius: 20px;
   padding: 10px;
   color: red;
   border:3px solid #ff6c80;
}

#submit-btn
{
	cursor: pointer;
	height: 35px;
	margin-left: 20%;
	border:3px solid #ff6c80;
	border-radius: 25px;
	outline: none;
}
h3
{
	text-align: center;
	box-shadow: 10px;
}
sup
{
	font-size: 30px;
}




@media (max-width: 500px)
{
	body
	{
		
	     background-image:url('beach.jpg');

	}

	#container
	{
		height: 350px;
		width: 70%;
		margin-left: 15%;
		margin-top: 35%;
	
	}
	#input-location
	{
		height: 30px;
		width: 70%;
		font-size: 15px;
	}
	#submit-btn
	{
		margin-left: 25%;
	}
}